@import './scss/colors';
@import './scss/button';

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    padding: 0;
    margin: 0;
    background-color: #0c0c0c;
    color: rgb(224, 224, 224);
}

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1200px;
    --breakout-max-width: 1600px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
            var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;
}


a {
    color: var(--clr-primary-600);
    text-decoration: none;
}

::selection {
    background-color: var(--clr-primary-500);
    color: var(--clr-white);
}

.large-header {
    font-size: clamp(3rem, 8vw, 7rem);
    font-weight: 900;
    text-align: center;
    color: var(--clr-white);

    &.left{
        text-align: left;
    }

    &.right{
        text-align: right;
    }
}

.glitch {
    
    &:hover {
        text-shadow: 0.05em 0 0 var(--clr-primary-600);
        animation: glitch 400ms;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 var(--clr-primary-600);
    }

    14% {
        text-shadow: 0.05em 0 0 var(--clr-primary-600),
            -0.05em -0.025em 0 var(--clr-dark-500),
            -0.025em 0.05em 0 var(--clr-primary-200);
    }

    15% {
        text-shadow: -0.05em -0.025em 0 var(--clr-primary-600),
            0.025em 0.025em 0 var(--clr-dark-500),
            -0.05em -0.05em 0 var(--clr-primary-200);
    }

    49% {
        text-shadow: -0.05em -0.025em 0 var(--clr-primary-600),
            0.025em 0.025em 0 var(--clr-dark-500),
            -0.05em -0.05em 0 var(--clr-primary-200);
    }

    50% {
        text-shadow: 0.025em 0.05em 0 var(--clr-primary-600),
            0.05em 0 0 var(--clr-dark-500), 0 -0.05em 0 var(--clr-primary-200);
    }

    99% {
        text-shadow: 0.025em 0.05em 0 var(--clr-primary-600),
            0.05em 0 0 var(--clr-dark-500), 0 -0.05em 0 var(--clr-primary-200);
    }

    100% {
        text-shadow: -0.025em 0 0 var(--clr-primary-600);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

image{
    width: 100%;
    height: 100%;
}

// buttons

